* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// generali container
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 16px;

}

/* Media query per schermi molto grandi (larghezza minima 1480px) */
@media (max-width: 1240px) {
    .movie-details {
        flex: 1 1 calc(25% - 16px);
    }
}

/* Media query per schermi medi (tablet) */
@media (max-width: 768px) {
    .movie-details {
        flex: 1 1 calc(50% - 16px);

    }
}

/* Media query per schermi molto piccoli (smartphone) */
@media (max-width: 480px) {
    .movie-details {
        flex: 1 1 calc(100% - 16px);

    }
}