@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    

}

body{
    background-color: #151515;
}


h2 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: bold;

}

// generali container
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 16px;
    background-color: #151515;
    padding-top: 20px;
}

// sezione container generali movie e serie tv

.movie-container,
.tv-show-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
}


// SEZIONE RESPONSIVE

/* Media query per schermi grandi (desktop) */
@media (min-width: 1240px) {
    .movie-details {
      flex: 1 1 calc(25% - 16px); /* 4 elementi per riga */
    }
  }
  
  /* Media query per schermi medi (tablet) */
  @media (max-width: 1240px) and (min-width: 768px) {
    .movie-details {
      flex: 1 1 calc(33.33% - 16px); /* 3 elementi per riga */
    }
  }
  
  /* Media query per schermi piccoli (smartphone grande) */
  @media (max-width: 768px) and (min-width: 480px) {
    .movie-details {
      flex: 1 1 calc(50% - 16px); /* 2 elementi per riga */
    }
  }
  
  /* Media query per schermi molto piccoli (smartphone piccolo) */
  @media (max-width: 480px) {
    .movie-details {
      flex: 1 1 calc(100% - 16px); /* 1 elemento per riga */
    }
  }

  /* Media query per schermi molto piccoli (es. iPhone 5) */
@media (max-width: 320px) {
    .movie-details {
        flex: 1 1 calc(100% - 16px); /* 1 elemento per riga */
    }
}

  

// STYLE CUSTOM DELLA SCROLLBAR

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
.flip-card-back::-webkit-scrollbar {
    width: 8px;
}

.flip-card-back::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 4px;
}

.flip-card-back::-webkit-scrollbar-track {
    background-color: #464646;
}

/* Custom scrollbar styles for Firefox */
.flip-card-back {
    scrollbar-color: #464646 black;
    scrollbar-width: thin;
}

// regole gestione loading caricamento

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #DE020C;
    background-color: #151515;
}